img {
    width:200px;
    height:200px;
}
.header {
    display:flex;

}
.one {
    display:flex;
    flex-direction: row;
    gap:150px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    padding-top:50px;
    background-image: url(/home/monalisa/Downloads/robert-lukeman-_RBcxo9AU-U-unsplash.jpg);
}
.two {
    display:flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    text-align:center;
    padding-top: 75px;
}
.items, .row-two {
    display:flex;
    gap:30px;
    justify-content: center;
    padding:20px;
}

img.top {
    width: 270px;
    height:480px;
}
img {
    border-radius: 12px;
}
ul {
    list-style: none;
    display:flex;
    gap:15px;
    justify-content: flex-end;
}
a {
    text-decoration: none;
    color:rgb(156, 154, 154);
}

.header {
    background-color:black;
    display: flex;
    justify-content: space-between;
    

}
h1 {
    font-size:50px;

}

button {
    background-color: blanchedalmond;
    color:black;
    padding:4px;
    border-radius: 5px;
}
.four {
    background-color: black;
    color:white;
    display: flex;
    justify-content:center;
    padding-top:30px;
    gap:40px;
    flex-wrap: wrap;
    margin:40px 60px;
    padding:20px;

}
h2 {
    font-size : 40px;
}
.three {
    background-color: black;
    color:aliceblue;
    text-align: center;
    padding:100px;
}
p {
    font-size:18px;
    font-weight: 400;
}


