img {
    width:250px;
    height:250px;
}

.one {
    display:flex;
    flex-direction: row;
    gap:50px;
    justify-content: flex-start;
    padding:100px;
    align-items: center;
    background-color: black;
    color: black;
    padding-top:50px;
    background-image: linear-gradient(63deg, rgb(243, 243, 101), rgb(250, 56, 56) , rgb(66, 66, 252));
    height: 500px;
    justify-content: center;
    align-items: center;

}
.two {
    display:flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    text-align:center;
    padding-top: 75px;
}
.items, .row-two {
    display:flex;
    gap:30px;
    justify-content: center;
    padding:20px;
}

img.top {
    width: 412px;
    height:412px;
    border: 8px solid black;


}
img {
    border-radius: 12px;
}
 
a {
    text-decoration: none;
    color:white;
}




h1 {
    font-size:70px;

}

button {
    background-color: black;
    color:white;
    padding:8px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 3px solid white;

}
.four {
    background-image: linear-gradient(63deg, rgb(243, 243, 101), rgb(250, 56, 56) , rgb(66, 66, 252));
    color:black;
    font-weight: 900;
    display: flex;
    justify-content:center;
    padding-top:30px;
    gap:40px;
    flex-wrap: wrap;
    margin:40px 60px;
    padding:20px;
    font-size: 20px;

}
h2 {
    font-size : 50px;
}
.three {
    background-color: black;
    color:aliceblue;
    text-align: center;
    padding:100px;
}
p {
    font-size:21px;
    font-weight: 400;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    font-weight: 800;
    margin:50PX;
}

.left{
    font-size: 300px;
    font-weight: 900;
}
.header{
    background-color: black;
    color: white;
    border: 2px solid white;
    margin: 6px;
    display:flex;
    justify-content: space-between;
}
.top {
    display: flex;
    flex-wrap: wrap;
}
.text {
    display: flex;
    flex-direction: column;
    padding-top:30px;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
}
img.logo {
    height:60px;
    width:60px;
    padding-left: 15px;

}
nav {
   padding-right: 30px;
   align-items: center;
}
.header, .one , .four {
    border-radius: 8px;
}
a:hover{
  color: aqua;
}

