img {
    width:150px;
    height:150px;
}
.header {
    display:flex;

}
.one {
    display:flex;
    gap:30px;
}
.two {
    display:flex;
    flex-direction: column;
}
.items {
    display:flex;
}
img.top {
    width:300px;
    height:280px;
}